img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.container {
  max-width: 1600px;
  height: 400px;
  padding: 20px;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
  margin: 100px auto;
}

.image_slider-wrapper {
  overflow: hidden;
  display: flex;
}

.image_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 280px;
  padding: 0;
}

.image_slider li {
  max-width: 100%;
  float: left;
  list-style: none;
  padding: 5px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 25px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(115, 115, 115, 0.8);
}
